VKMessenger/obj/
XamlAnimatedGif.WP_SL81/obj/
VKClient/obj/
VKClient.Video/obj/
VKClient/Bin/
VKClient.Video/Bin/
VKMessenger/Bin/
VKClient.ScheduledUpdater/obj/
VKClient.ScheduledUpdater/Bin/
VKClient.Photos/obj/
VKClient.Photos/Bin/
VKClient.Groups/obj/
VKClient.Groups/Bin/
VKClient.Common/obj/
VKClient.Audio/obj/
VKClient.Audio/Bin/
VKClient.Common/Bin/
VKClient.Audio.Base/obj/
packages/
AudioPlaybackAgent/obj/
AudioPlaybackAgent/Bin/
VKClient.Audio.Base/Bin/
XamlAnimatedGif.WP_SL/obj/
